.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 413px;
    height: 480px;

    background: #f9f9fe;
    border-radius: 8px;

    .title {
        width: 163px;
        height: 39px;
        margin-top: 25px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;

        color: #2d2e46;
    }

    & span {
        width: 244px;
        height: 33px;
        margin-top: 30px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;

        text-align: center;

        color: #2d2e46;
    }

    & input {
        width: 347px;
        height: 48px;
        margin-top: 20px;
        border: none;
        border-bottom: 1px solid black;

        background: #f9f9fe;

        font-family: 'SF UI Display' Thin;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    & h5 {
        width: 347px;
        height: 48px;
        margin-top: 30px;

        font-family: 'SF UI Display' Thin;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: #2d2e46;

        opacity: 0.5;
    }

    & button {
        width: 266px;
        height: 36px;
        margin-top: 40px;

        background: #21268f;
        box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
        border-radius: 30px;

        font-family: 'SF UI Display' Thin;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        text-align: center;
        letter-spacing: 0.01em;

        color: #ececf9;

        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    }
}
