.input {
    margin-top: 10px;
    padding: 5px 5px;
    width: 300px;
    background-color: transparent;
    color: whitesmoke;
}

.input:focus {
    outline: 0;
    border: 3px outset #08152c;
}

.errorInput {
    border: 3px solid #08152c;
    background: #520a27;
    text-align: center;
}