.paginator {
    display: flex;
    float: right;
    padding: 2px;
    align-items: center;
}

.pageNumber {
    padding: 8px 16px;
    margin: 2px;
    border: 1px solid #282850;
    background-color: #08152c;
}

.selectedPage {
    /*font-weight: bold;*/
    padding: 8px 16px;
    margin: 2px;
    background-color: #7676EE7D;
    border: 1px solid #282850;
}
